# Bochs Configuration File

# Memory size
megs: 32

# CPU settings
cpu: count=1, ips=1000000

# Floppy disk settings
floppya: 1_44=bin/OS.bin, status=inserted

# Boot from floppy
boot: floppy

# Display settings
display_library: sdl2

# Log file
log: bin/bochsout.txt

# ROM images
romimage: file=/usr/share/bochs/BIOS-bochs-latest
vgaromimage: file=/usr/share/bochs/VGABIOS-lgpl-latest